---

Checks: '-*,cppcoreguidelines-avoid-goto,cppcoreguidelines-pro-type-const-cast, google-runtime-int, readability-braces-around-statements, readability-container-size-empty, readability-redundant-control-flow, readability-identifier-naming, readability-simplify-boolean-expr, google-build-using-namespace, readability-implicit-bool-conversion, google-explicit-constructor'

WarningsAsErrors: true
SystemHeaders: true
HeaderFilterRegex: ".*.hpp"

CheckOptions:
  - key: readability-identifier-naming.TypedefIgnoredRegexp
    value: "i8|ui8|i16|ui16|i32|ui32|i64|ui64|usize|f32|f64"
  - key: readability-identifier-naming.TypeAliasIgnoredRegexp
    value: "i8|ui8|i16|ui16|i32|ui32|i64|ui64|usize|f32|f64"
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: g
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: st
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: '1'
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: '1'
  - key: readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
    value: expr-type

