{{define "base"}}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>FDESolver</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <link href="/templates/styles.css" rel="stylesheet" />
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100&subset=cyrillic,latin">
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    
    <body>
        <div class="content">
            <header>
                FDESolver
            </header>

            <div id="info">
                <p>This solver made special for solving anomalus diffusion equations by numerical methods. The problem is:</p>
                <p style="font-size: 75%;">
                    $$
                    \frac{\partial^\gamma}{\partial t^\gamma}u(x, t) = 
                    D(x)\left( \frac{(1+\beta)}{2}\frac{\partial _+^\alpha}{\partial x^\alpha} + \frac{(1-\beta)}{2}\frac{\partial _-^\alpha}{\partial x^\alpha} \right)u(x, t) + V(x)\frac{\partial}{\partial x}u(x, t) + f(x, t)
                    $$

                    $$u(x, 0) = \psi(x)$$
                    $$u(L, t) = \phi_L(t)$$
                    $$u(R, t) = \phi_R(t)$$
                    $$\alpha \in (1; 2); \gamma \in (0; 1); \beta \in [-1; 1]$$
                </p>
            </div>
    
            
            <div id="config">
                <p>Config:</p>
    
                {{ template "config" . }}
    
            </div>
        </div>
    </body>
</html>
{{end}}
