{{template "base" .}}

{{define "config"}}
<div style="width: 30%;display: flex;flex-direction: row; align-items: center;">
    <p style="font-size: x-large;"><b>Config:</b></p>
    
</div>

<div style="display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;">
    <div style="display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;">
        <form id="upload-container" method="POST">
            <img id="upload-image" src="images/upload.svg">
            <div>
                <input id="file-input" type="file" name="file" multiple>
                <label for="file-input">Выберите файл</label>
            </div>
        </form>
        <form method="POST">
            <textarea name="config" spellcheck="false" id="config_textarea" rows="27" cols="90">{{ template "config example" . }}</textarea>

            {{if .Error }}
                <div style="color: rgb(156, 0, 0);font-size: small;max-width: 650px;">Error: {{ .Error }}</div>
            {{end}}
            {{if .WorkTime }}
                <div style="color: rgb(4, 121, 0);font-size: small;max-width: 650px;">Time elapsed: {{ .WorkTime}}</div>
            {{end}}
            <button class="glow-on-hover" id="run_task">Run task</button>
        </form>
    </div>

    <div id="config-legend">
        <ul>
            <li><p><b>LeftBound</b>                   - The variable <b>L</b> is the left boundary of the calculated grid</p></li>
            <li><p><b>RightBound</b>                  - The variable <b>R</b> is the right boundary of the calculated grid</p></li>
            <li><p><b>MaxTime</b>                     - The variable <b>T</b> is the max time boundary of the calculated grid</p></li>
            <li><p><b>Alpha</b>                       - The variable <b>&alpha;</b> is the fractional exponent of the degree of differential in the variable x</p></li>
            <li><p><b>Gamma</b>                       - The variable <b>&gamma;</b> is the fractional exponent of the degree of differential in the variable t</p></li>
            <li><p><b>SpaceStep</b>                   - The variable <b>h</b> is the grid step by variable x</p></li>
            <li><p><b>TimeStep</b>                    - The variable <b>&tau;</b> is the grid step by variable x</p></li>
            <li><p><b>Beta</b>                        - The variable <b>&beta;</b> is the coefficient of equilibrium between the left and right fractional derivatives</p></li>
            <li><p><b>DiffusionCoefficient</b>        - The function <b>D(x)</b> is a function of the diffusion coefficient depending on the variable x</p></li>
            <li><p><b>DemolitionCoefficient</b>       - The function <b>V(x)</b> is a linear demolition function depending on the variable x</p></li>
            <li><p><b>ZeroTimeState</b>               - The function <b>u(x, 0)</b> is the state function at the zero point in time</p></li>
            <li><p><b>SourceFunction</b>              - The function <b>f(x, t)</b> is the source function depending on the variables x and t</p></li>
            <li><p><b>LeftBoundState</b>              - The function <b>u(L, t)</b> is the state function on the left boundary</p></li>
            <li><p><b>RightBoundState</b>             - The function <b>u(R, t)</b> is the state function on the right boundary</p></li>
            <li><p><b>BordersAvailable</b>            - Whether to include the flag when calculating the border or not</p></li>
            <li><p><b>StochasticIterationCount</b>    - The number of iterations for the stochastic method if it is enabled</p></li>
            <li><p><b>RealSolutionName</b>            - If the problem has a solution, then you can enter the formula of this function for visualization here in latex format</p></li>
            <li><p><b>RealSolution</b>                - The formula of the real solution itself</p></li>
            <li>
                <p><b>SolveMethods</b>                     - Choose solve methods: MGL, MRL, SGL, SRL. Methods are specified without spaces separated by a colon.</p>
                <p>&nbsp;&nbsp;&nbsp;MGL - Matrix Grünwald-Letnikov method</p>
                <p>&nbsp;&nbsp;&nbsp;MRL - Matrix Riemann-Liouville method</p>
                <p>&nbsp;&nbsp;&nbsp;SGL - Stochastic Grünwald-Letnikov method</p>
                <p>&nbsp;&nbsp;&nbsp;SRL - Stochastic Riemann-Liouville method</p>
            </li>
        </ul>
    </div>
</div>
{{end}}
