{% extends "base.html" %}

{% block config %}

<div>
    <textarea  id="config_textarea" rows="27" cols="90" style="resize: none;">
{
    "LeftBound": "-0.4",
    "RightBound": "0.4",   
    "MaxTime": "0.2",                 
    "Alpha": "1.8",
    "Gamma": "0.9",            
    "SpaceStep": "0.02",
    "TimeStep": "0.001",     
    "Beta": "0.5",                    
    "AlphaLeft": "0",
    "BetaLeft": "0",     
    "AlphaRight": "0",
    "BetaRight": "0",   
    "DiffusionCoefficient": "0.001",     
    "DemolitionCoefficient": "0.0",    
    "ZeroTimeState": "((-0.01 < x) && (x < 0.01)) ? 50.0 : 0.0",            
    "SourceFunction": "0.0",   
    "LeftBoundState": "0.0",           
    "RightBoundState": "0.00000",          
    "BordersAvailable": "false",          
    "StochasticIterationCount": "1000",
    "RealSolutionName": "$u(x, t) = ??",                        
    "RealSolution" : "0.0"
}</textarea>

    {% if error %}
        <div style="color: rgb(156, 0, 0);font-size: small;max-width: 650px;">Error: {{error}}</div>
    {% endif %}
    {% if work_time %}
        <div style="color: rgb(4, 121, 0);font-size: small;max-width: 650px;">Time elapsed: {{work_time}}</div>
    {% endif %}
</div>

{% endblock %}


